.title {
    text-align: center;
    margin: 20px 0;
}

#logo {
    width: 5rem;
}

.form-container {
    width: 70%;
    margin: auto;
}

.btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.btn-container a, .home-btn a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #fff;
    transition: color 0s;
}

.btn-container a:hover {
    color: #fff;
}

.home-btn {
    margin: 20px 0;
}

.alert-container {
    height: 40px;
}